name: AWS CloudFormation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Install Amazon Lambda Tools
      run: |
        dotnet tool install -g Amazon.Lambda.Tools
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build ./Plaive.WebApp/Plaive.WebApp.csproj --configuration Release --no-restore
    - name: Create Lambda Package
      run: dotnet lambda package ./Plaive.WebApp/bin/Release/lambda/${{ github.run_id }}_${{ github.run_number }}.zip -pl ./Plaive.WebApp
    - name: AWS "Configure AWS Credentials" Action For GitHub Actions
      uses: aws-actions/configure-aws-credentials@v1
      with:
        # AWS Access Key ID. This input is required if running in the GitHub hosted environment. It is optional if running in a self-hosted environment that already has AWS credentials, for example on an EC2 instance.
        aws-access-key-id: ${{ secrets.AWS_SECRET_ID }}
        # AWS Secret Access Key. This input is required if running in the GitHub hosted environment. It is optional if running in a self-hosted environment that already has AWS credentials, for example on an EC2 instance.
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        # AWS Region, e.g. us-east-2
        aws-region: eu-west-1
    - name: Create WebApp Code S3 Bucket
      run: aws s3api create-bucket --bucket plaive-webapp-code --region eu-west-1 --create-bucket-configuration LocationConstraint=eu-west-1
      continue-on-error: true
    - name: Deploy Compiled Code to S3
      run: aws s3 sync ./Plaive.WebApp/bin/Release/lambda s3://plaive-webapp-code --delete
    - name: AWS CloudFormation "Deploy CloudFormation Stack" Action for GitHub Actions
      uses: aws-actions/aws-cloudformation-github-deploy@v1.0.3
      with:
        # The name of the CloudFormation stack
        name: plaive-webapp
        # The path or URL to the CloudFormation template
        template: Plaive.WebApp/serverless.template
        # The comma-delimited list of stack template capabilities to acknowledge. Defaults to 'CAPABILITY_IAM'
        capabilities: "CAPABILITY_IAM,CAPABILITY_AUTO_EXPAND" 
        # If the CloudFormation change set is empty, do not fail. Defaults to '0' (will fail on empty change set)
        no-fail-on-empty-changeset: 1
        # The parameters to override in the stack inputs. The list is comma-delimited, with each entry formatted as <ParameterName>=<ParameterValue>.
        parameter-overrides: CodeUri=${{ github.run_id }}_${{ github.run_number }}.zip
